replicaCount: 2

image:
  repository: lekimtanloc/02-backend_spring-boot-rest-api
  tag: v1
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: dockerhub-secret

service:
  type: NodePort
  port: 8080

ingress:
  enabled: true
  className: ""
  hosts:
    - host: lekimtanloc.dev.com
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}

config:
  SPRING_PROFILES_ACTIVE: "prod"
  JAVA_OPTS: "-Xmx512m"

secret:
  DATABASE_URL: "jdbc:mysql://mariadb:3306/full-stack-ecommerce"
  DATABASE_USER: "root"
  DATABASE_PASSWORD: "root"

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
